<p>
  <strong>Acronym:</strong>
  <%= @acronym.name %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @acronym.definition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @acronym.description %>
</p>

<%= link_to 'Edit', edit_acronym_path(@acronym) %> | 
<%= link_to 'All Acronyms', acronyms_path %>
